<%- include(header.html) %>
<div>
  <select name="type" class="form-select">
    <option value="" data-display="Select">Currency</option>
    <option value="AED">United Arab Emirates</option>
    <option value="AFN">Afghanistan</option>
    <option value="AWG">Dutch Guilders</option>
    <option value="AMD">Armenia</option>
    <option value="ANG">Netherlands</option>
    <option value="AOA">Angola</option>
    <option value="ARS">Argentina</option>
    <option value="AUD">Australia</option>
    <option value="BRL">Brazil</option>
    <option value="CAD">Canada</option>
    <option value="CNY">China</option>
    <option value="EGP">Egypt</option>
    <option value="FJD">Fiji</option>
    <option value="GHS">Ghana</option>
    <option value="INR">India</option>
    <option value="JPY">Japan</option>
    <option value="KRW">South Korea</option>
    <option value="MXN">Mexico</option>
    <option value="NZD">New Zealand</option>
    <option value="PHP">Philippines</option>
    <option value="RUB">Russia</option>
    <option value="ZAR">South Africa</option>
    <option value="CHF">Switzerland</option>
    <option value="TRY">Turkey</option>
    <option value="GBP">United Kingdom</option>
    <option value="USD">United States</option>
  </select>

  <select name="type" class="form-select">
    <option value="" data-display="Select">Currency</option>
    <option value="AED">United Arab Emirates</option>
    <option value="AFN">Afghanistan</option>
    <option value="AWG">Dutch Guilders</option>
    <option value="AMD">Armenia</option>
    <option value="ANG">Netherlands</option>
    <option value="AOA">Angola</option>
    <option value="ARS">Argentina</option>
    <option value="AUD">Australia</option>
    <option value="BRL">Brazil</option>
    <option value="CAD">Canada</option>
    <option value="CNY">China</option>
    <option value="EGP">Egypt</option>
    <option value="FJD">Fiji</option>
    <option value="GHS">Ghana</option>
    <option value="INR">India</option>
    <option value="JPY">Japan</option>
    <option value="KRW">South Korea</option>
    <option value="MXN">Mexico</option>
    <option value="NZD">New Zealand</option>
    <option value="PHP">Philippines</option>
    <option value="RUB">Russia</option>
    <option value="ZAR">South Africa</option>
    <option value="CHF">Switzerland</option>
    <option value="TRY">Turkey</option>
    <option value="GBP">United Kingdom</option>
    <option value="USD">United States</option>
  </select>
  
      
      <form>
        <label for="ammount">Ammount</label><br>
        <input type="number" id="ammount" name="ammount"><br>
        <input type="submit" value="Submit">
      </form>
      <%= amount %>
</div>
<%- include(footer.html) %>