/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #00009c;
    background-color: #3498db;
}

/* Header styles */
div {
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* Form container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

label {
    font-weight: bolder;
}

.form-select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #00009c;
    color: white;
    padding: 10px;
    border: 0.2px solid #6767b2;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Result styles */
h2 {
    margin-top: 20px;
    font-size: 24px;
}

/* Footer styles */
h3 {
    text-align: center;
    margin-top: 20px;
}